.item {
  overflow: hidden;
  max-width: 34.375rem;
  width: 34.375rem;
  margin-bottom: 10px;
}

.user {
  padding: 0;
  margin-bottom: 0.1rem;
  padding-right: 1rem;
  padding-left: 0.3rem;
  display: flex;
}

.userImage {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.item {
  background-color: #fff7fb;
}

.content {
  padding: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.content p {
  margin: 5px;
}

.content h3 {
  font-size: 1.25rem;
  color: black;
  margin: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  .item {
    width: 24rem;
  }
}
