.fundo {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: -5vh;
  left: 0vw;
}

.caixa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 8000px;
  flex-wrap: wrap;
  
}


.caixa .cartao {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.089);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

}

.caixa .cartao .produto {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  font-size: 1.3em;
  color: #fff;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  
}

.caixa .cartao .produto p {
 font-size: 1.2em;
 color: #fff;
 font-weight: 300;
 text-align: left;
 margin-top: 3px;
 margin-left: 10px;
 flex-direction: column;
 
}

.caixa .cartao .produto a {
  background: none;
  padding: 18px 58px;
  color: #f0caff;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #2c0d38;
  border-radius: 4%;
  transition: .3s ease;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  height: 5%;
  font-size: 0.8em;
  margin-top: 20px;
  
}

.caixa .cartao .produto a:hover {
  transform: scale(1.10);
  padding: 22px 62px;
  background-color: #ecbfff;
  color: #32233f;
}

.produto img {
  height: 100px;
  width: 500px;
}

.UploadImagem {
  background-color: #f0caff;
  height: 500px;
  width: 730px;
  margin-top: -37px;
  margin-right: 120px;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ae7bc2;
}


.produtoLateral h3 {
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.produtoLateral input {
  height: 8%;
  width: 100%;
  border-radius: 12px;
}

.Pasta {
  display: flex;
  flex-direction: column;
  height: 13%;
  width: 66%;
  
}
