.item {
  margin: 20px;
  background-color: #ebe4f9;
  box-shadow: 0 3px 6px black;
  overflow: hidden;
  max-width: 35.375rem;
  width: 35.375rem;
}

.user {
  padding: 0;
  margin-bottom: 0.1rem;
  padding-right: 1rem;
  padding-left: 0.3rem;
  display: flex;
}

.audio {
  width: 100%;
}

.video{
  max-width: 38.75rem;
  position:inherit;
  height: 360px;
  padding-bottom: 5px;
}

.videoPlay{
  padding-left: 1%;
  width: 34.375rem;
}

.userImage {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.item {
  margin: 20px;
  background-color: #fff7fb;
  box-shadow: 0 3px 6px black;
}

.image {
  max-width: 38.75rem;
  padding-top: 0.3rem;
  overflow: hidden;
  text-align: center;
}

.image img {
  max-width: 34.375rem;
  height: auto;
  width: 100%;
  margin-left: auto;
}

.icon {
  height: 20px;
  position: relative;
}

.icon:hover {
  transform: scale(1.1);
  height: 20px;
  cursor: pointer;
}

.content {
  padding: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.content p {
  margin: 5px;
}

.content h3 {
  font-size: 1.25rem;
  color: black;
  margin: 5px;
}

.actions {
  width: 100%;
  text-align: left;
}

.interact {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  .item {
    width: 24rem;
  }
}
