.item {
  margin: 20px;
  background-color:#EBE4F9;
  box-shadow: 0 3px 6px black;
  overflow: hidden;
}
.user{
  padding: 0;
  margin-bottom: 0.1rem;
  padding-right: 1rem;
  padding-left: 0.3rem;
  display: flex;
  
}

.audio{
  width: 100%;
}

.userImage{
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}



.item {
  margin: 20px;
  background-color:#fff7fb;
  box-shadow: 0 3px 6px black;
}

.image {
  max-width: 38.75rem;
  padding-top: 0.3rem;
  overflow: hidden;
  text-align: center;
}

.image img {
  max-width: 34.375rem;
  height: auto;
  margin-left: auto;
}

.icon {
  
  height: 20px;
  position: relative;
}

.icon:hover {
  transform: scale(1.10);
  height: 25px;
  cursor: pointer;
}

.content {
  padding: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  
}

.content p{
  margin: 5px;
}

.content h3 {
  font-size: 1.25rem;
  color: black;
  margin: 5px;
}

.actions {  
  width: 100%;
  padding: 0.5rem;
  text-align:left;
}


.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  
}

@media (max-width: 900px){

.item{
  width: 24rem;
}

}